{% extends "basic.html" %}

{% block fileui %}
<div class="conainter text-center">
  <div class="row align-items-center position-absolute top-50 start-50 translate-middle">
    <div class="col">
      <div><h1> Eye disease classification </h1> </div>

       <div class="input-group">
            <form action = "" method = "post" enctype="multipart/form-data">  
                <input type="file" id="myfile" name="files-upload">   
                <input type = "submit" name="files-uploa" value="submit">   
            </form> 
          </div>
    </div>
  </div>
</div>
{% endblock %}